<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ssm_ag</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext-*.xml</param-value>
  </context-param>
  <!-- spring监听器 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- post提交过滤器  UTF-8 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 前段控制器 -->
  <servlet>
  	<servlet-name>springMvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:springmvc.xml</param-value>
  	</init-param>
  		<!-- tomcat启动时就加载这个servlet -->
  		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springMvc</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>top</servlet-name>
  	<jsp-file>/WEB-INF/jsp/admin/top.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>top</servlet-name>
  	<url-pattern>/top</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>left</servlet-name>
  	<jsp-file>/WEB-INF/jsp/admin/left.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>left</servlet-name>
  	<url-pattern>/left</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>welcome</servlet-name>
  	<jsp-file>/WEB-INF/jsp/admin/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>welcome</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>bottom</servlet-name>
  	<jsp-file>/WEB-INF/jsp/admin/bottom.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bottom</servlet-name>
  	<url-pattern>/bottom</url-pattern>
  </servlet-mapping>
  
</web-app>